.App {
  text-align: center; 
}

body {
  padding: 15px; 
  background-color: rgb(29, 31, 34);
  color: white; 
  font-family:'Courier New', Courier, monospace;
}

.main {
  background-color: rgb(199, 208, 212);
  color: black; 
  height: 100vh; 
  min-height: 100%;
  font-family: 'Courier New', Courier, monospace; 
  padding: 5px; 
}

.header {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #2a2c2e;
  color: white;
  padding: 10px 10px 10px 10px;
  margin-top: 0px;
  background: rgb(63, 122, 145);
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 2.5rem;
}

.navbar {
  display: flex;
  align-items: center; 
  text-align: center;
  margin-top: 0px;
  padding: 20px 20px 20px 20px;
}


.side {
  display: flex; 
  background-color: #53565A;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}


.side-list-styling {
  padding-left: 50px;
  padding-top: 15px;
  width: 20%; 
  background-color: rgb(29, 31, 34);
  color: white; 
}

.sidebar-list a{
  color: white; 
  padding: 0; 
}

.sidebar-route{
  flex: 1;
  padding: '00px';
}
